/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

/* Margin and padding for all cards */
.card {
    margin: 5px;
    padding: 1px
}

.card-body {
    padding-left: 0px;
}

/* Spacing tabs on nav bar */
.nav-spacing {
    padding: 0px 2px;
}

/* Nav bar tabs grow */
.tab-grow a:hover {
    font-size: 19px;
}

/* Specify what the current tab looks like */
.current {
    background-color: rgb(206, 202, 202);
}

/* The nav bar's general styling */
.myNavBar {
    font-size: 18px;
    border-bottom-style: solid;
    border-color: rgb(173, 171, 171);
    border-width: 1px;
    background-color: white;
}

.white {
    color: white;
}

.hide {
    display: none;
}

.inline {
    display: inline;
}

@media screen and (max-width:768px) {
    h5 {
        font-size: 10px;
    }

    h4 {
        font-size: 18px;
    }

    li {
        font-size: 10px;
    }
}


@media screen and (max-width:500px) {
    h5 {
        font-size: 8px;
    }

    h4 {
        font-size: 12px;
    }

    li {
        font-size: 8px;
    }
}

.responsive-width {
    font-size: 1.2vw;
}

.white {
    color: white;
}

body {
    margin: 0;
    background-image: url('http://bgfons.com/uploads/iron/iron_texture47.jpg');
    background-size: cover;
}