<!-- Navbar -->
<div class="myNavBar">
    <ul ngbNav #nav="ngbNav" class="nav-tab tab-grow" style="padding-left: 0px;">
        <li ngbNavItem class="nav-spacing">
            <a routerLink="/routines" ngbNavLink>Routines</a>
        </li>
        <li ngbNavItem class="nav-spacing">
            <a routerLink="/history" routerLinkActive="active" class="current" ngbNavLink>History</a>
        </li>
        <li ngbNavItem class="nav-spacing">
            <a routerLink="/workout" ngbNavLink>My Workout</a>
        </li>
        <li class="ml-auto" style="padding: 5px 5px;">
            <a routerLink="/" style="padding: 0px 10px;">Sign out</a>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div> <br>

<!--WORKOUT LOG STARTS HERE-->

<div class="center">
<div class="container newSection">
        <h1>History</h1>
    <div class="column">
        <div class="brightness col-10"  *ngFor="let routine of routines" margin="100px">
            <div class="card">
                <div class="card-header">
                    <h4> {{ routine.title }} </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li *ngFor="let exercise of routine.exercises">
                            {{ exercise }}
                        </li> 
                    </ul> 
                </div>
            </div>
            <br>
        </div>
    </div> <br>
</div>
</div>