.card {
    border-width: 2px;
    border-color: rgb(90, 94, 94);
}

.brightness div:hover {
    opacity: .5;
}

.newRoutine {
    height: 40px;
    margin-left: 20px;
}

#sharedRoutines {
    margin-top: 5px;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}