<!--Sean Burtner-->
<!-- Navbar -->
<div class="myNavBar">
    <ul ngbNav #nav="ngbNav" class="nav-tab tab-grow">
        <li ngbNavItem class="nav-spacing" style="padding-left: 0px;">
            <a routerLink="/routines" routerLinkActive="active" class="current" ngbNavLink>Routines</a>
        </li>
        <li ngbNavItem class="nav-spacing">
            <a routerLink="/history" ngbNavLink>History</a>
        </li>
        <li ngbNavItem class="nav-spacing">
            <a routerLink="/workout" ngbNavLink>My Workout</a>
        </li>
        <li class="ml-auto" style="padding: 5px 5px;">
            <a routerLink="/" (click)="signOut()" style="padding: 0px 10px;">Sign out</a>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div> <br>

<!-- MY ROUTINES ------------------------------------------>

<!-- My routines heading -->
<div class="container">
    <div class="row col">
        <h2 class='white'>My Routines</h2>
        <button class="btn btn-success newRoutine"><a href="/routineEditor" style="color: white;">New Routine</a></button>
    </div>
    <div *ngIf="routines.length != 0" class="row col">
        <p class="lead white">Click on a routine to edit it.</p>
    </div>
</div> 

<!-- Iterate through list of routines and display each on a card, with their exercises
    listed underneath. Hard-coded in the 'example-routines.ts' file. -->
<div class="container newSection">
    <div class="row">
        <div *ngIf="routines.length == 0">
            <br/>
            <p class="white lead">You don't have any routines yet. Create one by clicking "New Routine" above!</p> 
        </div>
        <div class="brightness col-4" *ngFor="let routine of routines">
            <a href="/routineEditor?routine={{routine.title}}&exercises={{routine.exercises}}" style="text-decoration: none; color:black;">
            <div class="card">
                <div class="card-header">
                    <h4> {{ routine.title }} </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li *ngFor="let exercise of routine.exercises">
                            {{ exercise }}
                        </li> 
                    </ul> 
                </div>
            </div>
            </a>
        </div>
    </div> <br>

    <!-- Display the share a routine form. -->
    <div class="row" *ngIf="routines.length != 0" style="margin-bottom: 15px;">
        <p class="white inline lead" style="margin-left: 15px;">Select a routine and enter a username to share: </p>
        <!-- Begin form -->
        <form class="inline col" #shareForm="ngForm" (ngSubmit)="shareRoutine(shareForm.value)">
            <!-- The dropdown to select a routine -->
            <select ngModel="Select Routine" name="routineToShare" id="routine_name" class="form-control inline col-4" style="margin-right: 15px;">
                <option>Select Routine</option>
                <option *ngFor="let routine of routines">{{routine.title}}</option>
            </select>
            <!-- Text field to enter the user to share with -->
            <input ngModel type="text" name="recipient" placeholder="Enter a username..." class="form-control inline col-4" style="margin-right: 15px;">
            <!-- Submit button -->
            <input type="submit" class="btn btn-light inline" id="share" value="Share" style="margin-bottom: 3px;">
        </form> <br>
    </div>
</div>

<!-- END MY ROUTINES -------------------------------------->

<!-- SHARED ROUTINES -------------------------------------->

<!-- Shared routines heading -->
<div class="container">
    <div class="row">
        <h2 class="col white" id="sharedRoutines">Shared with me</h2>
    </div>
    <div #link *ngIf="shared_routines.length > 0"> <a class=text-primary (click)="showSharedRoutines()">Click to show</a> </div>
    <div class="row" *ngIf="shared_routines.length == 0"><p class="lead white">You haven't received a shared routine yet. Share one of yours
         and you might get one back!</p></div>
</div>


<!-- Iterate through list of routines. -->
<div #shared class="container hide">
    <div class="row">
        <div class="brightness col-4" *ngFor="let shared_routine of shared_routines">
            <div class="card">
                <div class="card-header">
                    <h4 style='margin-bottom: 5px;'> {{ shared_routine.title }} </h4>
                    <i class="inline" style="font-size: 12pt;">Shared by: {{ shared_routine.sender }}</i>
                </div>
                <div class="card-body">
                    <ul>
                        <li *ngFor="let exercise of shared_routine.exercises">
                            {{ exercise }}
                        </li> 
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div> <br> <br>

<!-- END SHARED ROUTINES ---------------------------------->
