.card {
    padding: 15px 15px;
    border-color: slateblue;
    border-width: 3px;
}

.welcome {
    font-size: 36px;
}

.main-bg {
    background-image: url('http://bgfons.com/uploads/iron/iron_texture637.jpg');
    background-size: cover;
    padding-top: 0px;
    margin-top: 0px;
    border-top-width: 0px;
}